*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    
    background-color: rgb(206,225,178);
}

#lienzo{
background-image: url(./fondo.png);
background-repeat: no-repeat;
background-size: contain;
z-index: auto;
/*background-attachment: fixed;*/
position: absolute;
/*width: 2496px;
height: 1250px;*/
width: 1800px;
height: 900px;

}
div.one{
    position: absolute;
    top:100px;
    left: 1380px;
    height: 120px;
    width: 174px;
}
.two{
    position: absolute;
    top: 350px;
    left: 1035px;
    height: 90px;
    width: 75px;
}
.three{
    position: absolute;
    top: 230px;
    left: 1250px;
    height: 116px;
    width: 135px;

}
.four{
    position: absolute;
    top: 250px;
    left: 820px;
    height: 132px;
    width: 80px;
}
.five{
    position: absolute;
    top: 310px;
    left: 1175px;
    height: 88px;
    width: 54px;
}
.six{
    position: absolute;
    top: 380px;
    left: 490px;
    height: 90px;
    width: 75px;
}
.seven{
    position: absolute;
    top: 270px;
    left: 350px;
    height: 90px;
    width: 107px;
}
.eight{
    position: absolute;
    top: 120px;
    left: 1000px;
    height: 68px;
    width: 110px;
}
.nine{
    position: absolute;
    top: 420px;
    left: 655px;
    height: 108px;
    width: 110px;
}
.ten{
    position: absolute;
    top: 770px;
    left: 1050px;
    height: 81px;
    width: 71px;
}
.eleven{
    position: absolute;
    top: 500px;
    left: 1050px;
    height: 74px;
    width: 114px;
}
.twelve{
    position: absolute;
    top: 80px;
    left: 750px;
    height: 99px;
    width: 91px;
}
.thirteen{
    position: absolute;
    top: 90px;
    left: 465px;
    height: 100px;
    width: 100px;
}
.localizador{
    color: transparent;
    width: 50px;
    height: 50px;
}
.vida{
    margin-top: 10px;
    width: 65px;
    height: 50px;
    margin-left: 210px;
}
.vida1{
    margin-top: 10px;
    width: 65px;
    height: 50px;
}
.vida2{
    margin-top: 10px;
    width: 65px;
    height: 50px;
}
#imagenpajaro{
    position: absolute;
    width: 160px;
    height: 150px;
    border-radius: 55px;
    /*top: 100px;
    left: 200px;*/
}
#imagenpajaro img{
    width: 150px;
}
#imagen1 img{
    width: 150px;
    margin-top: 112px;
    margin-left: 150px;
}
.giraizquierda{
    transform: scaleX(-1);
}
.giraderecha{
    transform: scaleX(+1);
}

 @keyframes accion{
    0%{
        bottom: 185px;
    }
   45%, 55%{
    bottom: 300px;
   }
}

.transparencia{
    opacity: 0;
}
#titulo{
    display: inline-block;
    position: relative;
    left: 1540px;
    top: -21px;
    mix-blend-mode: multiply;
    color: #000;
    background: #fff;
    font-size: 19px;

}

#titulo:before{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(202, 43, 202), rgb(9, 121, 177));
    mix-blend-mode: screen;
}

#punto2{
    position: absolute;
    left: 1653px;
    top: -21px;
}

.punto{
    top: -21px;
    left: 500px;
    height: 165px;
    width: 321px;
}
.points{
    top: -91px;
    left: 1453px;
    position: absolute;
}
/*ELECCION*/

.eleccion{
    z-index: -100 !important ; 
    position: absolute;
}